SECRET_KEY=django-insecure--j6g7pog#t1aph_t2@wlyvn1$2pdz*5cmu=aakn7j1z+uda=#5
DEBUG=True

DB_ENGINE=django.db.backends.mysql
DB_NAME=splitwise
DB_USER=root
DB_PASSWORD=Pa55word!
DB_HOST=splitwise_db
DB_PORT=3306


EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

CELERY_BROKER_URL=redis://redis:6379/0
NOTIFICATION_QUEUE=notification-queue